.loading-spinner {
    display: inline-block;
}

.item {
    display: inline-block;
    margin-bottom: 24px;
    vertical-align: middle;
}

.spinner {
    display: inline-block;
    animation-name: anim-spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.circle {
    width: 32px;
    height: 16px;
    overflow: hidden;
}

.circle-inner {
    transform: rotate(45deg);
    border-radius: 50%;
    border: 4px solid black;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    width: 100%;
    height: 200%;
    animation-name: anim-circle-1;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.5, 1);
}

.circle-2 {
    transform: rotate(180deg);
}

.circle-2 .circle-inner {
    animation-name: anim-circle-2;
}

@keyframes anim-circle-1 {
    from {
        transform: rotate(60deg);
    }
    to {
        transform: rotate(205deg);
    }
}

@keyframes anim-circle-2 {
    from {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(-115deg);
    }
}

@keyframes anim-spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
